<%= form_for(@message, html: {class: "form-horizontal"}) do |f| %>
    <% if @message.errors.present? %>
        <div class="alert alert-danger">
            <%= alert %>
            <ul>
                <% @message.errors.full_messages.each do |full_message| %>
                    <li>
                        <=% full_message %>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="form-group">
        <label for="message_name" class="col-sm-2 control-label glyphicon glyphicon-user">
            名前:
        </label>
        <div class="col-sm-7">
            <%= f.text_field :name, class: "form-control", placeholder: "一文字以上２０文字以下" %>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="form-group">
        <label for="message_age" class="col-sm-2 control-label glyphicon glyphicon-plus">
            年齢:
        </label>
        <div class="col-sm-7">
            <%= f.text_field :age, class: "form-control", placeholder: "０以上の数字" %>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="form-group">
        <label for="message_body" class="col-sm-2 control-label glyphicon glyphicon-pencil">
            内容:
        </label>
        <div class="col-sm-7">
            <%= f.text_area :body, class: "form-control", placeholder: "２文字以上３０文字以下" %>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <%= button_tag( type: 'submit', class: "btn btn-primary") do %>
                <span class="glyphicon glyphicon-send"> Create Message</span>
            <% end %>
        </div>
        <div class="col-sm-7"></div>
    </div>
<% end %>